stages:
  - build
  - deploy

workflow:
  rules:
    - changes:
        - src/**/*
        - public/**/*
        - astro.config.mjs
        - .gitlab-ci.yml
        - tsconfig.json
        - package.json
        - flake.lock
        - flake.nix
        - bun.lock

build:
  stage: build
  image: alpine:edge
  variables:
    TERM: "dumb"
    NIX_INSTALLER_NO_CONFIRM: "true"
    NIX_INSTALLER_ENABLE_FLAKES: "true"
  before_script:
    - apk add --no-cache curl bash git xz
    - curl -sL https://install.lix.systems/lix | sh -s -- install linux --init none
    - source /nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh
  script:
    - nix develop -c bun install
    - nix develop -c bun run build
  artifacts:
    name: website-$CI_COMMIT_SHA
    expire_in: 1 day
    paths: [dist]

deploy:
  stage: deploy
  image: node:alpine
  needs: [build]
  script: npx wrangler pages deploy dist --project-name=website
